/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    min-width: 755px;
    grid-area: 1 / 1 / 2 / 6;
}

#main-page-nav a {
    background-color: #33443b;
    border-radius: 0px 70px;
    margin: auto;
    width: 150px;
    height: 100%;
}

.logo-1 {
    background-color: #33443b;
    border-radius: 0px 70px;
    font-size: 30px;
}

#main-page-nav {
    float: left;
    display: block;
    color: #ebebeb;
    text-align: center;
    text-decoration: underline;
    background-color: #42584c;
    border-radius: 0px 70px;
    padding: 18px;
}

#main-page-nav a {
    float: left;
    display: block;
    color: #ebebeb;
    text-align: center;
    padding: 18px;
    text-decoration: underline;
}

/*Buttons*/
.add-btn a {
    border-radius: 25px 5px 5px 25px;
    background-color: #71129a;
    border-style: solid;
    border-color: #a718e1;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 7px;
    border-right-color: #510f70;
    float: right;
    display: block;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.add-btn-table a {
    border-radius: 5px 25px 25px 5px;
    background-color: #819a15;
    border-style: solid;
    border-color: #a7bf15;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 7px;
    border-right-width: 1px;
    border-left-color: #4b570b;
    float: right;
    display: block;
    color: #fefefe;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 10px;
    text-decoration: none;
}
.back-btn a {
    border-radius: 25px 5px 5px 25px;
    background-color: #bf8f35;
    border-style: solid;
    border-color: #e9b63f;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 7px;
    border-right-color: #8e6a25;
    float: right;
    display: block;
    color: #fefefe;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    padding: 18px;
}

.users-btn a{
    border-radius: 25px 5px 5px 25px;
    background-color: #bfb894;
    border-style: solid;
    border-color: #bbce61;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 7px;
    border-right-color: #83944a;
    float: left;
    display: block;
    color: #fefefe;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.details-btn a {
    color: #fefefe;
    text-decoration: none;
    border-radius: 25px 5px 5px 25px;
    border-style: solid;
    border-color: #bbce61;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 7px;
    border-right-color: #83944a;
    background-color: #aebf6f;
    float: left;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 3px;
}

.solutions-btn a {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #ff6300;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 7px;
    border-right-width: 7px;
    border-right-color: #853400;
    border-left-color: #853400;
    background-color: #ce5200;
    float: left;
    display: block;
    color: #fefefe;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;

}
.delete-btn a {
    border-radius: 5px 25px 25px 5px;
    border-style: solid;
    border-color: #ff1022;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 7px;
    border-right-width: 1px;
    border-left-color: #810a17;
    background-color: #d50e1f;
    float: left;
    display: block;
    color: #fefefe;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 6px;
    text-decoration: none;
}
.edit-btn a {
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #00aeff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 7px;
    border-right-width: 7px;
    border-left-color: #005a8e;
    border-right-color: #005a8e;
    background-color: #0087ce;
    float: left;
    display: block;
    color: #fefefe;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

/* Navbar links */
#main-nav-content {
    float: right;
    display: block;
    color: #b0b0b0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

#main-nav-content a {
    float: left;
    display: block;
    color: #b0b0b0;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}


/*Table styles*/
.table-main-style-panels {
    min-width: 400px;
    border-spacing: 3px;
}

.table-main-style-panels tr {
    background-color: #6d6859;
    border-radius: 5px;
    text-align: center;

}

.table-main-style-panels a {
    text-decoration: none;
    color: #ebebeb;
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
}

.table-main-style {
    min-width: 400px;
    border-spacing: 0;
}
.table-main-style-body tr {
    max-width: 70px;
}

.table-main-style-header {
    background-color: #5c5c5c;
    color: #ebebeb;
    text-align: center;
    /*border-bottom: 80px;*/
    /*border-bottom-color: #bf8f35;*/
}

.table-main-style-body {
    background-color: #737373;
    color: #ebebeb;
    text-align: center;
}

.table-main-style td {
    padding: 10px;
    border-bottom: #bf8f35;
    border-bottom-width: 1px;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-content {
    border-top-style: solid;
    border-top-width: 15px;
    border-top-color: #ffffff;
    min-width: 424px;
    grid-area: 2 / 2 / span 9/ 5;
    max-width: 60%;
    background-color: #a2a2a2;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #858585;
    height: 100%;
    position: relative;
}

.main-content-header {
    min-width: 470px;
}

.main-header {
    background-color: #b5b5b5;
    padding: 10px;
    max-width: 200px;
    border-bottom-style: double;
    border-bottom-color: #ebebeb;
    border-bottom-width: 4px;
}

.main-field {
    position: relative;
}


.sub-content {
    float: inside;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}
.actions-table-1 {
    min-width: 80px;
}
.actions-table-2{
    min-width: 210px;
}